/* all devices style
---------------------------------------*/
@import "compass";

/* all */

body {
  font-family:sans-serif;
  font-size:14px;
  line-height:1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px !important;
  background-color: #fff;
  color:#333;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
}

a{
  color: #333;
  text-decoration:none;
}

/* Common */

.hidden{
  display: none;
  overflow: hidden;
}

.spr{
  background-repeat: no-repeat;
  color: transparent;
}

.taC{
  text-align: center;
}

.taR{
  text-align: right;
}

.title{
  font-size: 16px;
  color: #fff;
  background-color: #333;
  padding: 12px;
}

.lead{
  font-size: 16px;
  margin-bottom: 6px;
}

.minor{
  color: #999;
  margin-bottom: 6px;
}

.minor10{
  font-size: 10px;
  line-height: 1.2;
  color: #999;
  margin-bottom: 6px;
}

.price{
  color: #fa505a;
  font-size: 16px;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 30px; 
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index:100;
}

.loading{
  position: relative;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image:url("../img/loading@2x.gif");
  @include background-size(50px auto);
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 10;
}

/* btn */

.btn{
  color: #fff;
  background-color: #fa505a;
  border: 2px solid #eee;
  text-align: center;
}

.btnM{
  width: 200px;
  padding: 8px;
  border-radius: 6px;
  box-sizing: border-box;
}

.btnCir{
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 30px;
  display: inline-block;
}


/* review */

.reviewWrap{
  background-color: #333;
  padding-top:12px;
  padding-bottom: 12px; 
}

.reviewItemWrap{
  overflow: hidden;
}

.reviewItem{
  overflow: hidden;
  color: #fff;
  margin-bottom: 8px;
}

.reviewSummary{
  width: 130px;
  height: 130px;
  background-color: #fff;
  border-radius: 65px;
  text-align: center;
  box-sizing: border-box;
  padding: 30px 0;
}

.reviewPoint{
  font-size: 48px;
  color: #fab40a;
  line-height: 48px;
}

.reviewComment{
  font-size: 12px;
  color: #fff;
  border-top: 1px solid #fff;
  margin-top: 8px;
  padding-top: 8px;
}

.review{
  width: 60px;
  height: 12px;
  background-image:url("../img/spr_star@2x.png");
  @include background-size(60px auto);
  display: inline-block;
  background-repeat: no-repeat;
}

.is1{
  background-position: 0 0;
}

.is2{
  background-position: 0 -12px;
}

.is3{
  background-position: 0 -24px;
}

.is4{
  background-position: 0 -36px;
}

.is5{
  background-position: 0 -48px;
}

/* Contr */
.glContr{
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.contr{
  margin-top: 54px;
  min-width: 320px !important;
  overflow: hidden;
}

.contrMap{
  margin-top: 274px;
  min-width: 320px !important;
}

/* map Layout */
.mapWrap{
  width: 100%;
  height: 220px;
  position: fixed;
  overflow: hidden;
  top: 56px;
  left: 0;
  background-color: #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.map-embed{
  max-width: 100% ;
  height: 0 ;
  margin: 0 ;
  padding: 0 0 220px ;
  position: relative ;
  top: 0 ;
  left: 0 ;
}

.map-embed > div{
  position: absolute ;
  top: 0 ;
  left: 0 ;
  width: 100% ;
  height: 220px;
  margin: 0 ;
  padding: 0 ;
}

.map-embed img{
  max-width: none ;
}

.mapReloadTrigger{
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  margin:0 auto;
}

/* navHeader Layout */
.navHeader{
  width: 100%;
  min-width: 320px;
  background-color: #fff;
  height:56px;
  position:fixed;
  top:0;
  left:0;
  z-index:1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2)
}

.logo{
  margin-left: 12px;
  display: inline-block;
}

.logoImg{
  width: 56px;
  height: 56px;
  background-image:url("../img/logo@2x.png");
  @include background-size(54px 24px);
  background-position: center left;
  display: block;
}

.navOption{
  float: right;
  width: 56px;
  height: 56px;
  display: table;
}

.navBtnSearch{
  width: 56px;
  height: 56px;
  margin-left: 12px;
  display: table-cell;
  background-image:url("../img/nav-btn-search@2x.png");
  @include background-size(56px auto);
  background-position: center center;
}

/* navFooter Layout */

.navFooter{
  border-top: 1px solid #ccc;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* unit */

.unit{
  padding-bottom: 20px;
}

.in{
  margin-left:12px;
  margin-right:12px;
  @include clearfix();
}

.hl{
  font-size: 24px;
  margin-bottom: 12px;
}

/* image */
.mainPhotoUnit{
  max-width: 480px;
  display: table;
  overflow-x: auto;
  height: 200px;
  margin-bottom: 12px;
}

.mainPhotoSlide{
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transform: translateZ(0);
}

.mainPhotoCol{
  display: table-cell;
}

.mainPhotoItem{
  height: 200px;
  vertical-align: bottom;
}

/* list */
.list{
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

.in+.list{
  padding-top: 0;
}

.list:last-child{
  border: none;
}

.listArea{
  font-size: 18px;
  padding-left: 44px;
  padding-right: 20px;
  background-image:url("../img/icon-list@2x.png");
  background-repeat: no-repeat;
  @include background-size(32px auto);
  background-position: 6px center;
}

/* listHotels */
.listL130{
  float: left;
  width: 130px;
  margin-right: 12px;
}

.listL110{
  float: left;
  width: 110px;
  margin-right: 12px;
}

.listL80{
  float: left;
  width: 80px;
  margin-right: 12px;
}

.listL60{
  float: left;
  width: 60px;
  margin-right: 12px;
}


.listInfo{
  overflow: hidden;
}

.listNum{
  width: 20px;
  height: 20px;
  font-size: 11px;
  text-align: center;
  background-color: #FA505A;
  color: #fff;
  line-height: 20px;
  border-radius: 10px;
  margin-right: 6px;
  display: inline-block;
}



/* [index]Layout */
.featureWrap{
  width: 100%;
  height: 420px;
  padding-top: 40px;
  text-align: center;
  background-image:url("../img/index-feature-bg@2x.png");
  background-repeat: no-repeat;
  @include background-size(100% auto);
  background-position: center bottom;
  box-sizing: border-box;
}

.featureH2{
  height: 64px;
  background-image:url("../img/index-feature-logo@2x.png");
  @include background-size(150px 64px);
  background-position: center center;
}

.featureLead{
  color: #000;
  line-height: 1;
  font-size: 14px;
  padding: 20px 0;
  border-bottom: 1px solid #fa505a;
  margin-bottom: 20px;
  display: inline-block;
}

.searchLead{
  font-size: 22px;
  color: #000;
}

.searchBtnWrap{
  width: 100%;
  max-width: 360px;
  display: table;
  margin: 20px auto;
}

.searchBtnHere{
  min-width: 140px;
  height: 140px;
  display: table-cell;
  background-image:url("../img/search-btn-here@2x.png");
  @include background-size(140px auto);
  background-position: center center;
}

.searchBtnArea{
  min-width: 140px;
  height: 140px;
  display: table-cell;
  background-image:url("../img/search-btn-area@2x.png");
  @include background-size(140px auto);
  background-position: center center;
}

.aboutWrap{
  width: 100%;
  padding: 20px 0;
  margin-bottom: 20px;
  text-align: center;
  background-image:url("../img/index-about-bg@2x.png");
  background-repeat: no-repeat;
  @include background-size(100% auto);
  background-position: center top;
  box-sizing: border-box;
}

.aboutH2{
  color: #fff;
  font-size: 24px;
  margin-bottom: 15px;
}

.aboutLead{
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
}





